// название модуля
name Appolo

// Начальная высота, метры
init_h 2300

// Начальная скорость по горизонтали, м/с
init_horz_vel 152,78

// Начальная скорость по вертикали, м/с
init_vert_vel -45

// Сухая масса модуля, кг
dry_mass 6352

// полная тяга, Ньютон
main_thrust 45000

// Масса топлива, кг
fuel 3000

// расход топлива на полной тяге, кг/с
fuel_rate 14.9

// Тяга РСУ, Ньютон
rsu_thrust 445

// начальный угол относительно оси X по ч.с., градусы
orientation 145

// максиамальная вертикальная скорость безопасного прилунения, м/с
save_landing_vert_vel 3

// максиамальная горизонтальная скорость безопасного прилунения, м/с
save_landing_horz_vel 2

// максиамальный угол отклонения от вертикали для безопасного прилунения, градусы
save_landing_angle 6

